<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>735</integer>
	<key>capHeight</key>
	<integer>735</integer>
	<key>copyright</key>
	<string>Copyright 2019 The Recursive Project Authors (github.com/arrowtype/recursive)</string>
	<key>descender</key>
	<integer>-215</integer>
	<key>familyName</key>
	<string>Recursive</string>
	<key>guidelines</key>
	<array/>
	<key>openTypeHheaAscender</key>
	<integer>935</integer>
	<key>openTypeHheaDescender</key>
	<integer>-215</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>279</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>44</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>935</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-215</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>ARRW</string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1050</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>250</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-17</integer>
		<integer>0</integer>
		<integer>520</integer>
		<integer>539</integer>
		<integer>735</integer>
		<integer>745</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array/>
	<key>postscriptFamilyOtherBlues</key>
	<array/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-215</integer>
		<integer>-190</integer>
		<integer>375</integer>
		<integer>379</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>42</integer>
		<integer>42</integer>
		<integer>42</integer>
		<integer>42</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>49</integer>
		<integer>49</integer>
		<integer>49</integer>
		<integer>49</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-176</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>39</integer>
	<key>styleName</key>
	<string>Sans Casual A</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>520</integer>
</dict>
</plist>
